mixin songItem(index, song)
    .song(data-index=index)
        img.thumb(src=song.image)
        .body
            h3.title= song.name
            p.author= song.singer
        .option
            i.fas.fa-ellipsis-h
